{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4">
        <i class="mdi mdi-file-document left"></i>
        Relatórios Frota
    </h4>
    <div class="divider"></div>
    <div class="col s3">
        <div class="section">
            <a><h6 class="truncate grey-text">Veículo</h6></a>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a><h6 class="truncate grey-text">Utilização</h6></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <a><h6 class="truncate grey-text">Motorista</h6></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <a><h6 class="truncate grey-text">Manutenção</h6></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <a><h6 class="truncate grey-text">Abastecimentos</h6></a>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock content %}