<div class="row">
    <div>
        <table class="bordered highlight">
            <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header-integer  sonata-ba-list-field-header-order-desc sonata-ba-list-field-order-active">
                    Entidade
                </th>
                <th class="sonata-ba-list-field-header-text">
                    Órgão
                </th>
                <th class="sonata-ba-list-field-header-datetime">
                    Unidade
                </th>
                <th class="sonata-ba-list-field-header-datetime">
                    Recurso
                </th>
                <th class="sonata-ba-list-field-header-orm_many_to_one">
                    Ação
                </th>
                <th class="sonata-ba-list-field-header-text">
                    Educação infantil
                </th>
                <th class="sonata-ba-list-field-header-text">
                    Ações
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="sonata-ba-list-field sonata-ba-list-field-integer">63</td>
                <td class="sonata-ba-list-field sonata-ba-list-field-text">CRIADO</td>
                <td class="sonata-ba-list-field sonata-ba-list-field-datetime">28 de jul de 2017 17:50:36</td>
                <td class="sonata-ba-list-field sonata-ba-list-field-datetime">&nbsp;</td>
                <td class="sonata-ba-list-field sonata-ba-list-field-datetime">&nbsp;</td>
                <td class="sonata-ba-list-field sonata-ba-list-field-orm_many_to_one">
                    1 - WALLACE CAMPOS RODRIGUES
                </td>
                <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="63">
                    <div class="btn-group">
                        <a href="#" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Excluir">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>


        <div class="box-footer">
            <div class="clearfix form-inline">
                <div class="pull-left">
                </div>
            </div>
        </div>
    </div>

</div>

{#{{ dump(admin.strategy) }}#}